<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${setor.id} != null ? 'Editar Setor' : 'Novo Setor'">Novo Setor</title>
</head>
<body>
    <h1 th:text="${setor.id} != null ? 'Editar Setor' : 'Novo Setor'">Novo Setor</h1>

    <a th:href="@{/setores}">Voltar à Lista</a>

    <form th:action="${setor.id} != null 
    ? @{/setores/editar/{id}(id=${setor.id})} 
    : @{/setores/novosetor}" 
    th:object="${setor}" method="post" style="margin-top:10px;">

<fieldset>
    <legend>Dados do Setor</legend>

    <label>Nome do Setor:</label>
    <input type="text" th:field="*{nome}" required/><br/>

    <label>ID do Setor :</label>
    <input type="text" th:field="*{id_Setor}" required/><br/> 

</fieldset>

<button type="submit" style="margin-top:10px;">Salvar</button>
</form>
</body>
</html>