<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Funcionários</title>
</head>
<body>
    <h1>Funcionários</h1>
    <a href="/">Voltar</a>
    <a th:href="@{/funcionarios/novofuncionario}">Novo Funcionário</a>

<br>
<br>

    <form th:action="@{/funcionarios/buscar}" method="get" style="margin-top:10px;">
        <label>Buscar por ID:</label>
        <input type="number" name="id" placeholder="Digite o ID" required/>
        <button type="submit">Buscar</button>
    </form>

<br>
<br>

    <form th:action="@{/funcionarios/filtrar}" method="get">
        <label>Nome:</label>
        <input type="text" name="nome" />
        <label>CPF:</label>
        <input type="text" name="cpf" />
        <button type="submit">Filtrar</button>
    </form>
<br>
<br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email Empresarial</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="f : ${funcionarios}">
                <td th:text="${f.id}">ID</td>
                <td th:text="${f.nome}">Nome</td>
                <td th:text="${f.CPF}">CPF</td>
                <td th:text="${f.emailEmpresarial}">Email Empresarial</td>
                <td>
                    <a th:href="@{/funcionarios/editar/{id}(id=${f.id})}">Editar</a> |
                    <a th:href="@{/funcionarios/deletar/{id}(id=${f.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
