<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cargo por ID</title>
</head>
<body>
    <h1>Detalhes do Cargo</h1>
    <a th:href="@{/cargos}">Voltar</a>
    <br>
    <span><b>ID:</b></span> <span th:text="${cargo.id}">ID</span>
    <br>
    <span><b>titulo:</b></span> <span th:text="${cargo.titulo}">[titulo do Cargo]</span>
    <br>
    <span><b>descricao:</b></span> <span th:text="${cargo.descricao}">[descricao do cargo]</span>
    <br>
    <span><b>nivel Salarial Minimo:</b></span> <span th:text="${cargo.nivelSalarialMinimo}">[nivelSalarialMinimo]</span>
    <br>
    <span><b>requisitos:</b></span> <span th:text="${cargo.requisitos}">[requisitos]</span>

</body>
</html>
