@import url('https://fonts.cdnfonts.com/css/norwester');

body{
    font-family: 'Norwester', sans-serif;
    color: white;
    background-size: cover; 
    background-repeat: no-repeat; 
}

.Angela {
    position: fixed;
    bottom: 0;       
    right: 0;         
    width: 480px;   
    height: auto;
    z-index: 1000;   
    margin: 10px;   
}

.coluna{
    width: 360px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

.colunamenor{
    display: flex;
    flex-direction: column;
}

a{
    color: aqua;
}
a:visited{
    color: aqua;
}

table{
    background-color:black
}

input{
    background-color: black;
    border: 1px solid white;
    color: white;
}

input,
input::placeholder{
    color: white !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill {
    color: white !important;
}

p{
    margin: 0;
}

fieldset{
    width: 400px;
}